* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Computerfont';
    src: url('assets/fonts/Computerfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 140vh;
    display: flex;
    font-family: 'Computerfont', sans-serif;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    background-color: #FFE96E;
}

.background {
    width: 100%;
    height: 140vh;
    /* min-height: 100vh; */
    background: url('assets/images/background_image.webp') no-repeat center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover; /* Ensures the whole image is visible */
    background-position: center;
    background-color: #FFE96E;
    position: relative;
    padding: 20px;
    clip-path: inset(0px 0px 120px 0px);
    object-fit: cover;
    object-position: top;
}

.sign-up {
    font-family: 'Computerfont', sans-serif;
    font-size: 100px;
    color: #DB021F;
    font-weight: 5;
    background: #FFE96E;
    border: 8px solid #DB021F;
    /* padding: 10px 30px; */
    cursor: pointer;
    border-radius: 51px;
    margin-top: 55vh;
    height: 140px;
    width: 448px;
    align-items: center;
}

.overlay {
    width: 90%;
    height: 125vh;
    top: 50%; /* Adjust to center */
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover; /* Ensures the whole image is visible */
    background-position: center;
    position: absolute;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 200px;
}

.icons img {
    width: 96px;
    height: 96px;
}

.coming-soon {
    font-size: 100px;
    font-weight: 5;
    background: black;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    /* height: 150px; */
    /* height: 15vh; */
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    position: absolute;
    bottom: -40%;
    top: 120%;
    left: 0;
    width: 100%;
}

.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 10s linear infinite;
}

/* Keyframes for scrolling animation */
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
